@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #272727;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 25px;  
}
.main-header {
    /* background-color: wheat; */
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;   
}
.main-header h1 {
    padding: 1em;
}
.main-header > h2, form {
    padding: 0.5em 1em 0.5em 1em;
}
.main-header form {
    display: grid;
    /* width: auto; */
}
.login-field {
    /* background-color: white;  */
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 5em;
    align-items: center;
}
.register {
    display: flex;
    /* text-align: center;  */
    flex-direction: column;
   
    /* background-color: yellow; */
    height: auto;
    width: 40%;
}
.register > h2 {
    text-align: center;
}
.register > form {
    display: grid;
     /* width: auto;  */
}
label, input {
    height: 20px;
    border-radius: 2%;
    padding: 0.5em;
}
#submit-button, #submit-button-login {
   width: auto;
   height: 3.5em;
   background-color: teal;
   font-style: italic;
   text-decoration: none;
   border-radius: 10px;
   text-transform: uppercase;
   margin: 10px;
   display: block;
   transition: .3s;
   /* border: 10px */
}
@media (max-width: 500px){
    body {
        font-size: 18px;
    }
    .register {
        width: auto;
    }
}
