{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href={% static 'blog/style.css' %}>
</head>
<body>
    <header class="main-header">
        <h1>Do you have an account?</h1>
        <h2>Log in:</h2>
        <form action="/user-login/" method="post" id="login">
            <label for="/user-name/">E-mail:</label>
             <input name="user-login" id="login-email" type="email" value="{{ current_login }}">
            <label>Password:</label>
             <input id="login-password" type="password">
            <!-- <input id="submit-button" type="submit" value="Submit"> -->
            <button id="submit-button-login"> Submit</button>
        </form>
    </header>

    <script>
         document.getElementById('submit-button-login').onclick = function() {

            let loginData = document.getElementById('login-email').value;
            let loginPassword = document.getElementById('login-password').value;
            
            if (loginData.length != 0 && loginPassword.length != 0){
                if (loginData.includes('@') == true && loginData.search('@') != loginData.length-1){
                    alert("Twoj email: "+ loginData + '\n' + "Twoje hasło: " + loginPassword);
                }
            }else if (loginData === "" && loginPassword === "" ){
                alert("Podaj login i hasło!");
            }else if(loginData === ""){
                alert("Podaj login!");
            }else if (loginPassword === ""){
                alert("Podaj hasło!");
            }else {
                alert("Uzupełnij pola");
            }
            
         }
    </script>

    <section class="login-field">
        <div class="register">
            <h2>Sign up:</h2>
            <form action="" id="register">
                <label>Nick:</label>
                 <input type="text" >
                <label>E-mail:</label>
                 <input type="email" >
                <label>Password:</label>
                 <input type="password">
                <!-- <input id="submit-button" type="submit" value="Submit"> -->
                <button id="submit-button"> Submit</button>
            </form>
        </div>
    </section>

</body>
</html>